{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for ="select">Symbol</label>
            <select id='select' class="form-control" name="symbol" >
                {% for symbol in symbols %}
                <option >{{symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="No of shares" min = 1 type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}