Music filter=lfs diff=lfs merge=lfs -text
Public filter=lfs diff=lfs merge=lfs -text
lost+found filter=lfs diff=lfs merge=lfs -text
pset6 filter=lfs diff=lfs merge=lfs -text
pset8 filter=lfs diff=lfs merge=lfs -text
pset7 filter=lfs diff=lfs merge=lfs -text
lab5 filter=lfs diff=lfs merge=lfs -text
pset2 filter=lfs diff=lfs merge=lfs -text
pset9 filter=lfs diff=lfs merge=lfs -text
Desktop filter=lfs diff=lfs merge=lfs -text
lab3 filter=lfs diff=lfs merge=lfs -text
lab8 filter=lfs diff=lfs merge=lfs -text
lab4 filter=lfs diff=lfs merge=lfs -text
lab9 filter=lfs diff=lfs merge=lfs -text
project filter=lfs diff=lfs merge=lfs -text
pset3 filter=lfs diff=lfs merge=lfs -text
Documents filter=lfs diff=lfs merge=lfs -text
Downloads filter=lfs diff=lfs merge=lfs -text
lab6 filter=lfs diff=lfs merge=lfs -text
pset4 filter=lfs diff=lfs merge=lfs -text
Readme.md filter=lfs diff=lfs merge=lfs -text
lab7 filter=lfs diff=lfs merge=lfs -text
pset1 filter=lfs diff=lfs merge=lfs -text
Pictures filter=lfs diff=lfs merge=lfs -text
Templates filter=lfs diff=lfs merge=lfs -text
Videos filter=lfs diff=lfs merge=lfs -text
finance.db filter=lfs diff=lfs merge=lfs -text
pset5 filter=lfs diff=lfs merge=lfs -text
